@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

$red: #e31d3c;
$grey: #eee;
$white: #fff;
$dark: #343034 ;

body {
    background-color: $white;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    border: 3px solid gray;
    width: 450px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    .img {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem 1rem 0 0;
        height: 50px;
        width: auto;
    }

    h1 {
        color: $red;
        text-transform: uppercase;
        text-align: center;

        .italic-text {
            font-style: italic;
        }

    }


    .form {

        margin: 0 2rem;

        .radio {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            margin-right: 2rem;
    
            .radio__input {
                display: none;
            }
    
            .radio__radio {
                width: 1.25em;
                height: 1.25em;
                border: 2px solid $red;
                border-radius: 50%;
                margin-right: 5px;
                box-sizing: border-box;
                padding: 2px;
            }
    
            .radio__radio::after {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                background-color: $red;
                border-radius: 50%;
                transform: scale(0);
                transition: transform 0.15s;
            }

            .radio__input:checked + .radio__radio:after {
                transform: scale(1);
            }
    
        }

    }




}



